<!DOCTYPE html>
<html>
  <head>
    <title>湛旅后台管理系统</title>
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <style>
      body {
        background: #1c1c22;
      }
      ul {
        list-style: none;
        cursor: pointer;
      }
      a,
      span {
        color: #fff;
      }
      .nav-left h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
      }
      .nav-left > h3 > img {
        width: 80px;
        height: 80px;
      }
      .nav-left > ul {
        padding: 0 16px;
      }
      .nav-left > ul > li {
        padding: 20px 0;
        border-top: 2px solid #37383d;
      }
      .nav-left > ul > li:first-child {
        border-top: none;
      }
      /* 一级菜单 */
      .menu {
        position: relative;
        margin: 0 20px;
        line-height: 40px;
        color: #fff;
        border-radius: 24px;
      }
      .menu.active {
        background: #047bfb;
      }
      .menu > img:first-child {
        margin: -2px 18px;
      }
      .menu > img:last-child {
        position: absolute;
        right: 24px;
        top: 50%;
        margin-top: -4px;
      }
      /* 二级菜单 */
      .menuchild {
        position: relative;
        margin: 0 30px;
        line-height: 40px;
        color: #fff;
        border-radius: 24px;
      }
      .menuchild.active {
        background: #047bfb;
      }
      .menuchild > img:first-child {
        margin: -2px 12px;
      }
      .menuchild > img:last-child {
        position: absolute;
        right: 24px;
        top: 50%;
        margin-top: -4px;
      }

      /* 三级菜单 */
      .menuchildeara {
        position: relative;
        margin: 0 40px;
        line-height: 40px;
        color: #fff;
        border-radius: 24px;
      }
      .menuchildeara > a {
        text-align: center;
      }
      .menuchildeara.active {
        background: #047bfb;
      }
      .nav-left > ul > li > ul > li {
        margin-top: 20px;
      }
      .out {
        position: fixed;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        line-height: 40px;
        text-align: center;
        color: #fff;
        background-color: #047bfb;
        border-radius: 24px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="nav-left">
      <h3>
        <img src="/images/admin_logo.png" alt="" />
      </h3>
      <ul>
        <li>
          <div class="menu">
            <img src="/images/icon_shouye.png" alt="" />
            <span>首页</span>
            <img src="/images/icon_you_s.png" class="down" alt="" />
          </div>
          <ul>
            <li>
              <div class="menuchild">
                <img src="/images/icon_banner.png" alt="" />
                <a href="/bannerList" target="right">banner图</a>
              </div>
            </li>
            <li>
              <div class="menuchild">
                <img src="/images/icon_class.png" alt="" />
                <a href="/hotlist" target="right">热门推荐数据</a>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <div class="menu">
            <img src="/images/icon_jiuye.png" alt="" />
            <span>分类数据</span>
            <img src="/images/icon_you_s.png" class="down" alt="" />
          </div>
          <ul>
            <li>
              <div class="menuchild">
                <img src="/images/icon_banner.png" alt="" />
                <a href="/viewdatalist" target="right">景点数据</a>
              </div>
            </li>
            <li>
              <div class="menuchild">
                <img src="/images/icon_class.png" alt="" />
                <a href="/fooddatalist" target="right">美食数据</a>
              </div>
            </li>
            <li>
              <div class="menuchild">
                <img src="/images/icon_kecheng.png" alt="" />
                <a href="/hoteldatalist" target="right">酒店数据</a>
              </div>
            </li>
          </ul>
        </li>

        <li>
          <div class="menu">
            <img src="/images/icon_women.png" alt="" />
            <span>权限管理</span>
            <img src="/images/icon_you_s.png" class="down" alt="" />
          </div>
          <ul>
            <li>
              <div class="menuchild">
                <img src="/images/icon_banner.png" alt="" />
                <a href="/admincommonuser" target="right">管理普通用户</a>
              </div>
            </li>
            <li>
              <div class="menuchild">
                <img src="/images/icon_class.png" alt="" />
                <a href="/adminbackgrounduser" target="right">管理后台用户</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <div class="out"><a href="/admin" target="main">退出登录</a></div>
    </div>

    <script src="/javascripts/jquery.js"></script>
    <script>
      $(function () {
        $(".nav-left > ul > li").click(function () {
          //添加一级菜单样式
          $(this).siblings().find("div.menu").removeClass("active");
          $(this).find("div.menu").addClass("active");

          //初始化二级菜单样式
          $(this).siblings().find("ul>li>div.menuchild").removeClass("active");

          //更换箭头
          $(this)
            .siblings()
            .find(".down")
            .attr("src", "/images/icon_you_s.png");
          $(this).find(".down").attr("src", "/images/icon_down.png");

          //展开收起
          $(this).siblings().find("ul").slideUp(200);
          $(this).find("ul").slideDown(200);
        });

        $(".nav-left > ul > li> ul >li").click(function () {
          //添加二级级菜单样式
          $(this).siblings().find("div.menuchild").removeClass("active");
          $(this).find("div.menuchild").addClass("active");
        });
      });
    </script>
  </body>
</html>
